# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      - name: Build Image
        run: |
          sudo apt update
          # Add Docker's official GPG key:
          sudo apt-get update
          sudo apt-get install ca-certificates curl gnupg
          sudo install -m 0755 -d /etc/apt/keyrings
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
          sudo chmod a+r /etc/apt/keyrings/docker.gpg      
          # Add the repository to Apt sources:
          echo \
            "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
            $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
            sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
            
          sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin
          sudo apt-get update
          sudo docker login --username dwip23 --password 12@Google
          sudo docker pull nginx:latest
          sudo docker tag nginx:latest dwip23/argocd-nginx:v1
          sudo docker push dwip23/argocd-nginx:v1

      - name: Change Image Tag in yml file.
        run: |
          sudo add-apt-repository ppa:rmescandon/yq
          sudo apt update
          sudo apt install yq -y
          git clone https://hazradwip:${{secrets.ACCESS_TOKEN}}@github.com/hazradwip/argocd-example-apps.git
          cd argocd-example-apps
          cd helm-guestbook
          yq e -i '.image.repository = "dwip23/argocd-nginx"' values.yaml
          yq e -i '.image.tag = "v1"' values.yaml
          cat values.yaml
          git config --global user.email "hazradwip@gmail.com"
          git config --global user.name "hazradwip"
          git config --global user.password "23$Dwip@GITHUB$23"
          git add .
          git commit -m "New Version Released"
          git push origin main
